/Test.py
/LICENSE.txt
/NEWS.txt
/python.exe
/python.pdb
/python3.13t.exe
/python3.13t.pdb
/python3.13t_d.pdb
/python3.13t_d.exe
/python3.dll
/python3_d.dll
/python3t.dll
/python3t_d.dll
/python313.dll
/python313.pdb
/python313_d.dll
/python313_d.pdb
/python313t.dll
/python313t.pdb
/python313t_d.dll
/python313t_d.pdb
/python_d.exe
/python_d.pdb
/pythonw.exe
/pythonw.pdb
/pythonw3.13t.exe
/pythonw3.13t.pdb
/pythonw3.13t_d.exe
/pythonw3.13t_d.pdb
/pythonw_d.exe
/pythonw_d.pdb
/vcruntime140.dll
/vcruntime140_1.dll
